.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background: var(--color-black);
  position: sticky;
  top: 0;
  left:0;
  z-index: 200;
}

.app__navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.app__navbar-logo h2{
  font-size: 2rem;
color: var(--color-golden)
}


.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
}

.app__navbar-links li:hover {
  color: var(--color-grey);
}

.app__navbar-login {
  display: flex;
  align-items: center;
  justify-conten: flex-end;
}

.app__navbar-login a {
  margin: 0 1rem;
  text-decoration: none;
  transition: 0.5s ease;
}

.app__navbar-login a:hover {
  border-bottom: 1px solid var(--color-golden);
transition: 0.5s cubic-bezier(.28,.55,.43,.99);
}


.app__navbar-login div {
    width: 1px;
    height: 30px;
    background: var(--color-grey);
}

.app__navbar-smallscreens{
    display: none;
}

.app__navbar-smallscreen_overlay{
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: var(--color-black);
    transition 0.5 ease;

    flex-direction: column;
    z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close{
    font-size:27px;
    color: var(--color-golden);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
  }


.app__navbar-smallscreens-links{
  list-style: none;
}



.app__navbar-smallscreens-links li{
  color: var(--color-golden);
  margin: 2rem;
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-base);

}

.app__navbar-smallscreens-links li:hover{
  color:var(--color-white);
  transition: 0.5s cubic-bezier(.28,.55,.43,.99);

}



@media screen and (max-width: 2000px){
  .app__navbar-logo img {
    width: 190px;
  }
  

}



@media screen and (max-width: 1150px){
    .app__navbar-links{
        display: none;
    }


    .app__navbar-smallscreens{
    display: flex;
    }

}

@media screen and (max-width: 650px){
  
  .app__navbar{
    padding: 1rem;
  }

.app__navbar-login{
  display:none;
}

.app__navbar-logo img {
  width: 110px;
}
}